<section>
  <!-- Start Reset Password Section -->
  <h3 class="main-content-header">Reset Password</h3>
  <p class="main-content-text">Welcome! Please enter your details</p>

  <!-- Start Reset Password Form -->
  <form [formGroup]="resetPassword" (ngSubmit)="onReset(resetPassword)">
    <div class="row">

      <!-- Start Email Field -->
      <div class="col-lg-6 col-12">
        <div>
          <div class="input-group">
            <span class="input-group-text" id="basic-addon1">
              <i class="fa-solid fa-envelope"></i>
            </span>
            <input type="email" formControlName="email" class="form-control" placeholder="Enter Your E-mail"
              aria-label="email" aria-describedby="basic-addon1" [ngClass]="{
                'is-invalid': resetPassword.get('email')?.touched && resetPassword.get('email')?.invalid,
                'is-valid': resetPassword.get('email')?.touched && resetPassword.get('email')?.valid }">
          </div>
          <div class="my-3">
            <div class="alert alert-danger py-1" role="alert"
              *ngIf="resetPassword.get('email')?.getError('required') && resetPassword.get('email')?.touched">
              E-Mail is required
            </div>
            <div class="alert alert-danger py-1" role="alert"
              *ngIf="resetPassword.get('email')?.getError('email') && resetPassword.get('email')?.touched">
              E-Mail is Invalid
            </div>
          </div>
        </div>
      </div>
      <!-- End Email Field -->

      <!-- Start OTP Field -->
      <div class="col-lg-6 col-12">
        <div>
          <div class="input-group">
            <span class="input-group-text" id="basic-addon1">
              <i class="fa-solid fa-globe-africa"></i>
            </span>
            <input type="text" formControlName="seed" class="form-control" placeholder="seed" aria-label="seed"
              aria-describedby="basic-addon1" [ngClass]="{
                'is-invalid': resetPassword.get('seed')?.touched && resetPassword.get('seed')?.invalid,
                'is-valid': resetPassword.get('seed')?.touched && resetPassword.get('seed')?.valid }">
          </div>
          <div class="my-3">
            <div class="alert alert-danger py-1" role="alert"
              *ngIf="resetPassword.get('seed')?.getError('required') && resetPassword.get('seed')?.touched">
              Please provide the OTP (One-Time Password) received in your email to proceed
            </div>
            <div class="alert alert-danger py-1" role="alert"
              *ngIf="(resetPassword.get('seed')?.getError('maxLength') || resetPassword.get('seed')?.getError('minLength')) && resetPassword.get('seed')?.touched">
              The OTP should consist of exactly 4 characters. Please check and try again.
            </div>
          </div>
        </div>
      </div>
      <!-- End OTP Field -->

      <!-- Start Password Field -->
      <div class="col-lg-6 col-12">
        <div>
          <div class="input-group">
            <span class="input-group-text" id="basic-addon1">
              <i class="fa-solid fa-lock"></i>
            </span>
            <input [type]="!passwordVisibilityToggle[0] ? 'password' : 'text'" formControlName="password"
              class="form-control" placeholder="Password" aria-label="Password" aria-describedby="basic-addon1"
              [ngClass]="{
                'is-invalid': resetPassword.get('password')?.touched && resetPassword.get('password')?.invalid,
                'is-valid': resetPassword.get('password')?.touched && resetPassword.get('password')?.valid }">
            <span class="input-group-text" id="basic-addon1" role="button"
              (click)="!passwordVisibilityToggle[0] = !passwordVisibilityToggle[0]">
              <i class="fa-solid" [class]="!passwordVisibilityToggle[0] ? 'fa-eye' : 'fa-eye-slash'"></i>
            </span>
          </div>
          <div class="my-3">
            <div class="alert alert-danger py-1" role="alert"
              *ngIf="resetPassword.get('password')?.getError('required') && resetPassword.get('password')?.touched">
              Password is required
            </div>
            <div class="alert alert-danger py-1" role="alert"
              *ngIf="resetPassword.get('password')?.getError('pattern') && resetPassword.get('password')?.touched">
              Password is Invalid
            </div>
          </div>
        </div>
      </div>
      <!-- End Password Field -->

      <!-- Start Confirm Password Field -->
      <div class="col-lg-6 col-12">
        <div>
          <div class="input-group">
            <span class="input-group-text" id="basic-addon1">
              <i class="fa-solid fa-lock"></i>
            </span>
            <input [type]="!passwordVisibilityToggle[1] ? 'password' : 'text'" formControlName="confirmPassword"
              class="form-control" placeholder="Confirm Password" aria-label="confirmPassword"
              aria-describedby="basic-addon1"
              [ngClass]="{
                'is-invalid': resetPassword.get('confirmPassword')?.touched && resetPassword.get('confirmPassword')?.invalid,
                'is-valid': resetPassword.get('confirmPassword')?.touched && resetPassword.get('confirmPassword')?.valid }">
            <span class="input-group-text" id="basic-addon1" role="button"
              (click)="!passwordVisibilityToggle[1] = !passwordVisibilityToggle[1]">
              <i class="fa-solid" [class]="!passwordVisibilityToggle[1] ? 'fa-eye' : 'fa-eye-slash'"></i>
            </span>
          </div>
          <div class="my-3">
            <div class="alert alert-danger py-1" role="alert"
              *ngIf="resetPassword.get('confirmPassword')?.getError('required') && resetPassword.get('confirmPassword')?.touched">
              Confirm Password is required.
            </div>
            <div class="alert alert-danger py-1" role="alert"
              *ngIf="resetPassword.get('confirmPassword')?.getError('passwordMismatch') && resetPassword.get('confirmPassword')?.touched">
              The password and confirmPassword fields do not match.
            </div>
          </div>
        </div>
      </div>
      <!-- End Confirm Password Field -->
    </div>

    <!-- Submit Button -->
    <button class="primary d-block mt-5 w-100">Reset Password</button>
  </form>
  <!-- End Reset Password Form -->
</section>
