<section class="">
  <div class="overlay-shadow position-absolute top-0 start-0 w-100 h-100 z-2 bg-black bg-opacity-50"></div>
  <div class="d-flex justify-content-center align-items-center vh-100">
    <div class="auth-content bg-white p-5 rounded-5 z-3 d-flex flex-column gap-3 overflow-hidden">
      <figure class="mb-0 mx-auto text-center w-100">
        <img src="./../../assets/images/logo.svg" class="w-50" alt="food recipe">
      </figure>
      <router-outlet></router-outlet>
    </div>
  </div>
</section>
