<section class="d-flex flex-column gap-2">
  <div class="content">
    <h3 class="main-content-header">Forgot Your Password?</h3>
    <p class="main-content-text">No worries! Please enter your email and we will send a password reset link </p>
  </div>
  <form [formGroup]="forgetForm" (ngSubmit)="onSubmit(forgetForm)" class="d-flex flex-column gap-5">
    <div>
      <div class="input-group">
        <span class="input-group-text" id="basic-addon1">
          <i class="fa-solid fa-mobile-screen"></i>
        </span>
        <input type="email" formControlName="email" class="form-control" placeholder="Enter Your E-mail"
          aria-label="Email" aria-describedby="basic-addon1" [ngClass]="{
            'is-invalid': forgetForm.get('email')?.touched && forgetForm.get('email')?.invalid,
            'is-valid': forgetForm.get('email')?.touched && forgetForm.get('email')?.valid }">

      </div>
      <div class="my-3">
        <div class="alert alert-danger py-1" role="alert"
          *ngIf="forgetForm.get('email')?.getError('required') && forgetForm.get('email')?.touched">
          E-Mail is required
        </div>
        <div class="alert alert-danger py-1" role="alert"
          *ngIf="forgetForm.get('email')?.getError('email') && forgetForm.get('email')?.touched">
          E-Mail is Invalid
        </div>
      </div>
    </div>

    <button class="primary d-block mt-3 w-100">Submit</button>
  </form>
</section>
