<section class="mt-5 text-center bg-main py-3 ps-sm-5 rounded-4">
  <!-- Top Section Header -->
  <article class="row justify-content-around align-items-center">
    <!-- Left Column -->
    <div class="col-md-6 col-12">
      <!-- Welcome Message -->
      <h2 class="d-flex align-items-end gap-2 text-white">
        {{ mainHeader }} <span> {{ mainTextHeader }}</span>
      </h2>
      <!-- Description -->
      <p class="mb-0 mt-3 text-start text-white">
        {{ mainTextContent }}
      </p>
    </div>
    <!-- Right Column -->
    <div class="col-md-6 col-12 imgBx d-flex justify-content-end">
      <!-- Image -->
      <figure class="mb-0">
        <img src="../../../../assets/images/menu.svg" class="w-100" alt="vegan">
      </figure>
    </div>
  </article>
</section>
