<div class="ag-format-container d-flex justify-content-center align-content-center vh-100">
  <div class="category_box">

    <div class="category_item">
      <div class="category-item_link">
        <div class="category-item_bg"></div>

        <div class="d-flex justify-content-between align-items-baseline">
          <div class="category-item_title">
            {{ data.categoryData.name }}&#160;
          </div>
          <i class="fa-solid fa-xmark-circle text-white position-relative fa-2x z-3" role="button"
            (click)="onNoClick()"></i>
        </div>

        <div class="category-item_date-box">
          Created At:
          <span class="category-item_date">
            {{ data.categoryData.creationDate }}
          </span>
        </div>

        <div class="category-item_date-box">
          Modified At:
          <span class="category-item_date">
            {{ data.categoryData.modificationDate }}
          </span>
        </div>
      </div>
    </div>

  </div>
</div>
