.category_box {
  display: -webkit-box;
  display: -ms-flexbox;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.category_item {
  -ms-flex-preferred-size: calc(33.33333% - 30px);
  flex-basis: calc(33.33333% - 30px);

  margin: 0 15px 30px;

  overflow: hidden;

  border-radius: 28px;
}

.category-item_link {
  display: block;
  padding: 30px 20px;
  background-color: #131c24;

  overflow: hidden;

  position: relative;
}

.category-item_link:hover,
.category-item_link:hover .category-item_date {
  text-decoration: none;
  color: #fff;
}

.category-item_link:hover .category-item_bg {
  -webkit-transform: scale(10);
  -ms-transform: scale(10);
  transform: scale(10);
}
.category-item_title {
  min-height: 87px;
  margin: 0 0 25px;

  overflow: hidden;

  font-weight: bold;
  font-size: 30px;
  color: #fff;

  z-index: 2;
  position: relative;
}
.category-item_date-box {
  font-size: 18px;
  color: #fff;

  z-index: 2;
  position: relative;
}
.category-item_date {
  font-weight: bold;
  color: #f9b234;

  -webkit-transition: color 0.5s ease;
  -o-transition: color 0.5s ease;
  transition: color 0.5s ease;
}
.category-item_bg {
  height: 128px;
  width: 128px;
  background-color: #3ecd5e;

  z-index: 1;
  position: absolute;
  top: -75px;
  right: -75px;

  border-radius: 50%;

  -webkit-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.category_item .category-item_bg {
  background-color: #3ecd5e;
}

@media only screen and (max-width: 979px) {
  .category_item {
    -ms-flex-preferred-size: calc(50% - 30px);
    flex-basis: calc(50% - 30px);
  }
  .category-item_title {
    font-size: 24px;
  }
}

@media only screen and (max-width: 767px) {
  .ag-format-container {
    width: 96%;
  }
}
@media only screen and (max-width: 639px) {
  .category_item {
    -ms-flex-preferred-size: 100%;
    flex-basis: 100%;
  }
  .category-item_title {
    min-height: 72px;
    line-height: 1;

    font-size: 24px;
  }
  .category-item_link {
    padding: 22px 40px;
  }
  .category-item_date-box {
    font-size: 16px;
  }
}

@media screen and (max-width: 768px) {
  .category {
    width: 60%;
    padding: 20px;
  }
}

@media screen and (min-width: 769px) and (max-width: 992px) {
  .category {
    width: 25%;
  }
}

@media screen and (min-width: 1024px) {
  .category {
    width: 18%;
  }
}
