
<section class="">
  <div class="overlay-shadow position-absolute top-0 start-0 w-100 h-100 z-2 bg-opacity-50"></div>
  <div class="d-flex justify-content-center align-items-center vh-100">
    <div class="auth-content bg-white p-5 rounded-5 z-3 d-flex flex-column gap-3">
      <figure class="mb-0 mx-auto text-center w-100">
        <img src="./../../assets/images/logo.svg" class="w-50" alt="food recipe">
      </figure>
      <!-- Start Reset Password Section -->
      <h3 class="main-content-header">
        Hi {{ data.name }}
        Do You want to Change Your Password ?</h3>
      <p class="main-content-text">Enter your details below</p>

      <!-- Start Reset Password Form -->
      <form [formGroup]="changePasswordForm">
        <div class="row">

          <!-- Start oldPassword Field -->
          <div class="col-12">
            <div>
              <div class="input-group">
                <span class="input-group-text" id="basic-addon1">
                  <i class="fa-solid fa-lock"></i>
                </span>
                <input [type]="!passwordVisibilityToggle[0] ? 'password' : 'text'" formControlName="oldPassword"
                  class="form-control" placeholder="oldPassword" aria-label="oldPassword"
                  aria-describedby="basic-addon1"
                  [ngClass]="{
                'is-invalid': changePasswordForm.get('oldPassword')?.touched && changePasswordForm.get('oldPassword')?.invalid,
                'is-valid': changePasswordForm.get('oldPassword')?.touched && changePasswordForm.get('oldPassword')?.valid }">
                <span class="input-group-text" id="basic-addon1" role="button"
                  (click)="!passwordVisibilityToggle[0] = !passwordVisibilityToggle[0]">
                  <i class="fa-solid" [class]="!passwordVisibilityToggle[0] ? 'fa-eye' : 'fa-eye-slash'"></i>
                </span>
              </div>
              <div class="my-3">
                <div class="alert alert-danger py-1" role="alert"
                  *ngIf="changePasswordForm.get('oldPassword')?.getError('required') && changePasswordForm.get('oldPassword')?.touched">
                  oldPassword is required
                </div>
                <div class="alert alert-danger py-1" role="alert"
                  *ngIf="changePasswordForm.get('oldPassword')?.getError('email') && changePasswordForm.get('oldPassword')?.touched">
                  oldPassword is Invalid
                </div>
              </div>
            </div>
          </div>
          <!-- End oldPassword Field -->

          <!-- Start newPassword Field -->
          <div class="col-12">
            <div>
              <div class="input-group">
                <span class="input-group-text" id="basic-addon1">
                  <i class="fa-solid fa-lock"></i>
                </span>
                <input [type]="!passwordVisibilityToggle[0] ? 'password' : 'text'" formControlName="newPassword"
                  class="form-control" placeholder="newPassword" aria-label="newPassword"
                  aria-describedby="basic-addon1"
                  [ngClass]="{
                'is-invalid': changePasswordForm.get('newPassword')?.touched && changePasswordForm.get('newPassword')?.invalid,
                'is-valid': changePasswordForm.get('newPassword')?.touched && changePasswordForm.get('newPassword')?.valid }">
                <span class="input-group-text" id="basic-addon1" role="button"
                  (click)="!passwordVisibilityToggle[0] = !passwordVisibilityToggle[0]">
                  <i class="fa-solid" [class]="!passwordVisibilityToggle[0] ? 'fa-eye' : 'fa-eye-slash'"></i>
                </span>
              </div>
              <div class="my-3">
                <div class="alert alert-danger py-1" role="alert"
                  *ngIf="changePasswordForm.get('newPassword')?.getError('required') && changePasswordForm.get('newPassword')?.touched">
                  newPassword is required
                </div>
                <div class="alert alert-danger py-1" role="alert"
                  *ngIf="changePasswordForm.get('newPassword')?.getError('email') && changePasswordForm.get('newPassword')?.touched">
                  newPassword is Invalid
                </div>
              </div>
            </div>
          </div>
          <!-- End newPassword Field -->

          <!-- Start confirmPassword Field -->
          <div class="col-12">
            <div>
              <div class="input-group">
                <span class="input-group-text" id="basic-addon1">
                  <i class="fa-solid fa-lock"></i>
                </span>
                <input [type]="!passwordVisibilityToggle[2] ? 'password' : 'text'" formControlName="confirmNewPassword"
                  class="form-control" placeholder="Confirm Password" aria-label="confirmNewPassword"
                  aria-describedby="basic-addon1"
                  [ngClass]="{
                'is-invalid': changePasswordForm.get('confirmNewPassword')?.touched && changePasswordForm.get('confirmNewPassword')?.invalid,
                'is-valid': changePasswordForm.get('confirmNewPassword')?.touched && changePasswordForm.get('confirmNewPassword')?.valid }">
                <span class="input-group-text" id="basic-addon1" role="button"
                  (click)="!passwordVisibilityToggle[2] = !passwordVisibilityToggle[2]">
                  <i class="fa-solid" [class]="!passwordVisibilityToggle[2] ? 'fa-eye' : 'fa-eye-slash'"></i>
                </span>
              </div>
              <div class="my-3">
                <div class="alert alert-danger py-1" role="alert"
                  *ngIf="changePasswordForm.get('confirmPassword')?.getError('required') && changePasswordForm.get('confirmPassword')?.touched">
                  Confirm Password is required.
                </div>
                <div class="alert alert-danger py-1" role="alert"
                  *ngIf="changePasswordForm.get('confirmPassword')?.getError('passwordMismatch') && changePasswordForm.get('confirmPassword')?.touched">
                  The password and confirmPassword fields do not match.
                </div>
              </div>
            </div>
          </div>
          <!-- End confirmPassword Field -->
        </div>

        <!-- Submit Button -->
        <div mat-dialog-actions class="py-3 border-top d-flex justify-content-between ">
          <button mat-button type="button" class="primary-outline" [mat-dialog-close]="changePasswordForm.value"
            cdkFocusInitial>
            change
          </button>
          <button mat-button type="button" (click)="onNoClick()" class="danger-outline"
            cdkFocusInitial>
            cancel
          </button>
        </div>
      </form>
      <!-- End Reset Password Form -->
    </div>
  </div>
</section>
